*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: rgba(115, 150, 112, 0.685);
}

form{
    background-color: white;
    border-radius: 15px;
}

.w-50{
    width: 600px;

}